.CanvasContainer{
    position: absolute;
}
#CanvasMobile{
    display: none;
}
@media screen and (min-width: 1600px) {
    .CanvasContainer{
        max-width: 1600px;
        height: 590px !important;
    }
    /* .earthModel{
        width: 90%;
        height: 50%;
    } */
}
@media screen and (max-width: 1600px) {
    .CanvasContainer{
        height: 700px ;
    }
    
}
@media screen and (max-width: 947px) {
    #CanvasDesktop{
        display: none;
    }
    #CanvasMobile{
        display: block;
    }
    
}