.about{
    background: radial-gradient( circle closest-corner,white, rgb(139, 136, 136) , rgb(39, 38, 38))
    /* background: white; */
}
.myMainImg{
    height: 600px;
 
}
img.about__img{
    border-radius: 10px;
    width: 100%;
    height: 100%;
    -webkit-box-shadow: 10px 10px 4px -2px rgba(34, 60, 80, 0.33);
    -moz-box-shadow: 10px 10px 4px -2px rgba(34, 60, 80, 0.33);
    box-shadow: 10px 10px 4px -2px rgba(34, 60, 80, 0.33);
}
#aboutBtn{
    -webkit-box-shadow: 10px 10px 4px -2px rgba(34, 60, 80, 0.33);
    -moz-box-shadow: 10px 10px 4px -2px rgba(34, 60, 80, 0.33);
    box-shadow: 10px 10px 4px -2px rgba(34, 60, 80, 0.33);

}
button.about.btn.pointer{
    background: #f9004d ;

}
.button.btn{
    background: white !important;
}
h1.about__heading{
    margin-bottom: 10px;
    font-weight: 700;
    text-align: start;
    font-family: Montserrat, sans-serif;
    font-size: 60px;
    color: black
}
button.about.btn.pointer{
    text-transform: capitalize;
    width: 195px;
    height: 55px;
    font-size: 18px;
    transform: .4s ease;
}
.about__button{
    padding: 20px 0px;
}
.about__text.p__color{
    color: black;
    font-weight: 700;
    font-family: Montserrat, sans-serif ;
    margin-top: 30px;

}
.PlayBtn{
    position: absolute;
    width: 100px;
    height: 100px;
    left: 36%;
    top: -320px;
}
.VideoPlayer {
    width: 680px;
    height: 400px;
    z-index: 99;
    position: absolute;
  }
  .VideoPlayer {
    width: 680px;
    height: 400px;
    z-index: 99;
    position: absolute;
    background-color: black;
    border-radius: 6px;
  }
  .player {
    z-index: 999;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
  }
  .btnESC{
    position: absolute;
    left: 70.5%;
    background-color: #fff;
    color: #022c46;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    z-index: 1111;
    top: -232px;
  }
  .fixedPlayer{
    position: fixed;
    top: 0%;
    left: 0%;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
  }
@media screen and (min-width: 1600px) {
    .about{
        max-width: 1600px;
        margin: 0 auto;
    }
    
}

@media screen and (max-width: 1200px) {
    #about{
        height: auto !important;
    }
    
}

@media only screen and (max-width: 960px){
    .about__button {
        max-width: 300px;
    }
    button.about{
        max-width: 175px;
        font-size: 14px !important;
    }
    .component__space{
        height: auto !important;
    }
}

@media only screen and (max-width: 875px){
    .about__button{
        max-width: 200px;
    
    }
    button.about{
        max-width: 155px;
    }
}
    
@media only screen and (max-width: 768px){
    .about__button{
    max-width: 200px;

    }
}
@media only screen and (max-width: 460px){
    .about__button{
    max-width: 100%;
    }
    .PlayBtn{
        top: -290px;
    }
    .VideoPlayer{
        width: 100% !important;
    }
}
@media only screen and (max-width: 400px){
    .about__button{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    }
    button.about{
        margin-top: 10px;
    }
}
@media only screen and (max-width: 425px){
span.copyright {
    font-size: 13px!important;
    }
}