@media (prefers-reduced-motion: no-preference){
    :root{
        scroll-behavior: smooth !important;
    }
}
#neon{
    text-shadow: 0 0 3vw red;
}
#neon{
    animation: neon 4s ease infinite;
    -moz-animation: neon 4s ease infinite;
    -webkit-animation: neon 4s ease infinite;
}
@keyframes neon{
    0%,
    100%{
        text-shadow: 0 0 1vw #F9004D, 0 0 0.2vw #010101, 0 0 .2vh rgb(139, 136, 136), .2vh .2vh .2vh #fff;
        color:  #F9004D;
    }
    50%{
        text-shadow: 0 0 .5vw #fff; 
        color:  #fff;
    }
}

.home__bg{
    background-image: url(../../img/nurbg.jpg);
    background-color: #010101;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}
.home .logo{
    margin-top: 0.5%;
}
li.nav__items{
    font-size: 18px;
    padding-bottom: 15px;
}
.home__content{
    padding: 200px 0px;
}
h1.home__text{
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 3px;
    color: rgba(198, 201, 216, .75)!important;
}
h2.home__text{
    font-size: 54px;
    line-height: 54px;
    font-weight: 800;
    font-family: Montserrat, sans-serif;
}
h3.home__text{
    font-size: 50px;
    font-weight: 800;
    font-family: Montserrat, sans-serif;
    line-height: 40px;
}
h4.home__text{
    font-size: 50px;
    font-weight: 800;
    font-family: Montserrat, sans-serif;
    line-height: 40px;

}
.cursorSpan{
    display: inline-block;
    opacity: 1;
    font-size: 50px;
}
.home__text{
    opacity: 0;
}

@media screen and (min-width:1600px) {
    .home{
        max-width: 1600px;
        margin: 0 auto;
    }
    
}
@media screen and (max-width: 1600px) {
    .home__bg{
        height: 100vh !important;
    }
    
}

@media only screen and (max-width: 1356px){
    col-12 {
        max-width: 100%;
    }
    .navbar{
        display: flex;
        flex-wrap: wrap;
    }
}

@media only screen and (max-width: 1034px){
    col-12 {
        max-width: 75%;
    }
    .navbar{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
}
    
@media only screen and (max-width: 768px){
    col-12 {
    max-width: 75%;
    }
    .navbar{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    .home__content{
        padding: 125px 0;
    }
    .myMainImg{
        height: auto !important;
    }
}
@media only screen and (max-width: 664px){
    col-12 { 
        max-width: 20%;
    }
    .navbar{
        display: flex;
        flex-wrap: wrap;
    }
    .home__bg {
        background-position: 82%;
    }
}
@media only screen and (max-width: 342px){
    col-12 { 
        max-width: 10%;
    }
    .navbar{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
}
@media only screen and (max-width: 425px){
span.copyright {
    font-size: 13px!important;
    }
} 

/* 

@media only screen and (max-width: 768px){
    .header{
        justify-content: space-between;
    }
    .navigation.pxy__30{
        display: none;
    }
    svg.bi.bi-list.white.pointer {
        width: 30px;
        height: 30px;
    }
} */